.helper-occupy-width{
  width: 100%;
  height: 100%;
}

.grid{
  background-color: #fff;
  background-color: rgba(200,200,200,0.1);
}

.header{
  position: relative;
}

.header-cell{
  background-color: rgba(150,150,150,0.2);
}

.header-cell-style{
  border: 1px solid #ddd;
  padding: 5px 8px;
  padding-bottom: 4px;
  position: relative;
}

.header-cell-label{
  width: 70%;
  overflow: hidden;
  position: absolute;
  left: 5px;
  top: 4px;
}


.header-cell button svg{
  fill: rgba(33,33,33,0.1);
}

.header-cell:hover button svg{
  fill: red;
}


.content-viewport{

}

.content{
  position: relative;
}

.static-content{

}

.dynamic-content{
  min-height: 500px;
}

.row{

}


.group-cell {

}

.group-cell-header{
  padding-left: 10px;
  border-top: 1px solid rgba(100,100,100,0.2);
  background-color: rgba(100,100,100,0.1);
}

.group-cell-static-header{
  padding-left: 1px;
  margin-left: 10px;
  color: #333;
  padding-top: 4px;
  border-left: 1px solid rgba(100,100,100,0.2);
  border-radius: 10px 0px 0px 0px;
  border-top: 1px solid rgba(100,100,100,0.2);
  background-color: rgba(100,100,100,0.1);
  text-transform: capitalize;
}

.group-cell-static-header .slds-badge_wrapper{
  display: inline-block;
  vertical-align: top;
}

.group-cell-static-header input{
  margin-left: 7px;
}

.group-cell-static-header .slds-badge{
  line-height: 2;
}

.group-cell-static-header .group-cell-header-count-title{
  color: rgba(100,100,100,0.4);
  margin-right: 3px;
}

.group-cell-static-header .group-cell-header-count{
  color: rgba(100,100,100,0.7);
}

.group-cell-header_closed{
  border-radius: 5px 0px 0px 5px;
}

.group-cell-header_closed .slds-button_icon{
  transform: rotate(-90deg);
}


.content-cell{
  border: 1px solid #ddd;
  padding: 3px 5px;
  font-size: 11px;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}

.static-content .content-cell{
  border-left: 1px solid rgba(100,100,100,0.6);
  margin-left: 10px;
  padding-left: 10px;
}

.static-content .content-cell input{
  visibility: hidden;
}

.static-content .content-cell.content-static-cell_selected input{
  visibility: initial;
}

.static-content .content-cell:hover input{
  visibility: initial;
}

.slds-badge_small{
  font-size: 8px;
  height: 18px;
  display: inline-block;
  text-transform: capitalize;
}

.slds-badge.color0{background-color: black;color:#fff;}
.slds-badge.color1{background-color: #26336d;color:#fff;}
.slds-badge{background-color: #36a9e1;color: #fff;}
.slds-badge.color3{background-color: #e30613;color:#fff;}
.slds-badge.color4{background-color: #bbe834;color:#fff;}
.slds-badge.color5{background-color: #26336d;opacity: 0.8;color: #fff;}
.slds-badge.color6{background-color: red;}
.slds-badge.color7{background-color: black;}
.slds-badge.color8{background-color: black;}
.slds-badge.color9{background-color: black;}

.content-cell_edit{
  border: 1px solid #26336d;
  padding: 1;
}

.content-cell_edit > input.edit-input{
  border: none;
}

.content-cell_edit input.edit-input{
  line-height: unset;
  min-height: 100%;
  border-radius: 0px;
}

.content-cel-select .slds-popover{
  position: absolute;
  overflow: hidden;
}

.content-cel-list .slds-popover{
  position: absolute;
  overflow: hidden;
}

.content-cel-list .slds-popover .add-input{
  width: 80%;
}

.content .content-cell-arrayList span{
  display: inline-block;
  margin-top: 3px;
  min-width: 12px;
  min-height: 12px;
}

.content .content-cell-arrayList span.slds-badge:hover{
  background-color: #26336d;
}

.content-static-cell{
  text-decoration: underline;
  cursor: pointer;
}

.content-static-cell .rodco-icon-button{
  outline: none !important;
  border: none;
  box-shadow: none;
}

.content-static-cell .text-button{
  margin-right: 45px;
  color: #333 !important;
}

.content-static-cell .text-button a{
  color: #333 !important;
}

.content-static-cell:hover{
  background-color: #fdfdfe;
}

.content-static-cell .not-editing .rodco-icon-button{
  transform: rotate(0deg);
}

.content-static-cell .editing .rodco-icon-button{
  transform: rotate(-90deg);
}


.content-static-cell .rodco-icon-button.selected{
  outline: none !important;
  border: none;
  box-shadow: none;
}

.content-static-cell .close-btn{
  position: absolute;
  right: 5px;
  top:5px;
}

.content-static-cell .action-popover{
  padding: 5px 0px;
  margin-right: 25px;
  justify-content: flex-start;
}
