.tool-box{
  background-color: #fff;
  padding: 5px 13px;
}

.tool-box{
  margin-top: 2px;
  border-bottom: 1px solid #36a9e1;
}

.view-button_selected{
  background-color: blue;
  color: #fff;
}

.view-button_selected:focus{
 color: #fff;
}

.tool-box .help{
  position: absolute; top: 0px; left: 15px;
}

.tool-box .help .help-popover{
  position: absolute; top: 0px; left: 15px;
}
