.tool-box{
  background-color: #fff;
  padding: 5px 13px;
}

.tool-box{
  margin-top: 2px;
  border-bottom: 1px solid #00a1df;
}

.view-button_selected{
  background-color: blue;
  color: #fff;
}

.view-button_selected:focus{
 color: #fff;
}

.slds-item_detail{
	overflow: scroll;
	text-overflow: unset;
}

.slds-item_detail::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display: none;
}