.grid{
  background-color: #fff;
}

.header{
  position: relative;
}

.header-cell{

}

.header-cell-style{
  border: 1px solid #ddd;
  padding: 5px 8px;
  position: relative;
}

.header-cell-label{
  width: 70%;
  overflow: hidden;
  position: absolute;
  left: 5px;
  top: 4px;
}


.header-cell button svg{
  fill: rgba(33,33,33,0.1);
}

.header-cell:hover button svg{
  fill: red;
}


.content-viewport{
  background-color: #fff;
}

.content{
  position: relative;
}

.static-content{
  border-right: 1px solid #ddd;
}

.dynamic-content{
  min-height: 500px;
}

.row{
  background-color: #fff;
}


.content-cell{
  border: 1px solid #ddd;
  padding: 3px 5px;
  font-size: 11px;
  height: 100%;
}

.static-content .content-cell{
  border-left: 3px solid rgba(100,100,100,0.6);
}

.static-content .content-cell.color0{ border-left-color: black;  }
.static-content .content-cell.color1{ border-left-color: #26336d;  }
.static-content .content-cell.color2{ border-left-color: #36a9e1;  }
.static-content .content-cell.color3{ border-left-color: #e30613;  }
.static-content .content-cell.color4{ border-left-color: #bbe834;  }
.static-content .content-cell.color5{ border-left-color: #36a9e1;  }
.static-content .content-cell.color6{ border-left-color: red;  }
.static-content .content-cell.color7{ border-left-color: blue;  }
.static-content .content-cell.color8{ border-left-color: green;  }
.static-content .content-cell.color9{ border-left-color: yellow;  }

.slds-badge_small{
  font-size: 8px;
  height: 18px;
  display: inline-block;
  text-transform: capitalize;
}

.slds-badge.color0{background-color: black;color:#fff;}
.slds-badge.color1{background-color: #26336d;color:#fff;}
.slds-badge.color2{background-color: #36a9e1;color: #fff;}
.slds-badge.color3{background-color: #e30613;color:#fff;}
.slds-badge.color4{background-color: #bbe834;color:#fff;}
.slds-badge.color5{background-color: #26336d;opacity: 0.8;color: #fff;}
.slds-badge.color6{background-color: red;}
.slds-badge.color7{background-color: black;}
.slds-badge.color8{background-color: black;}
.slds-badge.color9{background-color: black;}

.content-cell_edit{
  border: 1px solid #26336d;
  padding: 1;
}

.content-cell_edit > input.edit-input{
  border: none;
}

.content-cell_edit input.edit-input{
  line-height: unset;
  min-height: 100%;
  border-radius: 0px;
}

.content-cel-select .slds-popover{
  position: absolute;
  overflow: hidden;
}

.content-cel-list .slds-popover{
  position: absolute;
  overflow: hidden;
}

.content-cel-list .slds-popover .add-input{
  width: 80%;
}

.content-static-cell{

}
