.global-header-tabs{

}


.global-header-tabs .slds-tabs_scoped__nav{
  background-image: radial-gradient(circle farthest-corner at 0% 50%,#1F3B84,#36A9E1);
  border-top: none;
  border-radius: 0px;
  border:none;
}



.global-header-tabs .slds-tabs_scoped__item:first-child{
  margin-left: 27px;
}

.global-header-tabs .slds-tabs_scoped__item{
  color: #fff;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgba(33,33,33,0.2);
  border: none;
}

.global-header-tabs .slds-tabs_scoped__item .slds-tabs_scoped__link{
  color: rgba(255,255,255,0.95);
  line-height: 1.7rem;
  height: 1.7rem;
  border-radius: 0.2rem 0.2rem  0px 0px;
  text-transform: capitalize;
}


.global-header-tabs .slds-tabs_scoped__item.slds-is-active .slds-tabs_scoped__link{
  color: #1F3B84;
  border: none;
  border-radius: 0.2rem 0.2rem  0 0;

}
